<template>
  <div>
    <h2>{{ this.message }}</h2>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import {Component, Data} from "vuety";
@Component({
  name: "Hello"
})
export default class Hello extends Vue {
  @Data protected message = "Hello again (Hello Component) - Single File";
}
</script>

<style lang="scss">
h2 {
  font-weight: lighter;
  font-size: 1em;
  font-family: monospace;
}
</style>
