<template>
  <div>
    <h1>{{ this.message }} hi</h1>
    <hello></hello>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import {Component, Data} from "vuety";
import Hello from "./components/Hello.vue";

@Component({
  name: "mainApp",
  components: {
    "hello": Hello
  }
})
export default class App extends Vue {
  @Data protected message = "Hello from Vuety (App Component) - Single File...hiii";
  // take out Es-Lint and added package for tslint-loader
}
</script>

<style lang="scss">
h1 {
  font-weight: lighter;
  font-size: 1em;
}
</style>
